{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="cover" style="margin-left: 20px; font-family: sans-serif;">
    <div class="di">
        <h1>Hi, Peekiri Telegram Bot Log</h1>
        <p>A Simple Telegram bot for cracking Jokes. Development Version</p>
    </div>
    <div class="super-container", style="margin: 10px; color: rgb(47, 0, 255);">
        <div class="container">The Number of Clicks on the Key 'Fat'    : <span>{{ FAT_COUNT }}</span></div>
        <div class="container">The Number of Clicks on the Key 'Dump'   : <span>{{ DUMB_COUNT }}</span></div>
        <div class="container">The Number of Clicks on the Key 'Stupid' : <span>{{ STUPID_COUNT }}</span></div>
    </div>
    <div class="div", style="color: red;">
        <p>Please reload after clicking the buttons in Telegram chat, no hot reloading function applied since development mode! :)</p>
    </div>
    <div class="div" style="margin-top: 20px;">
        Please go to <a href='https://telegram.com'>Telegram</a> and chat with @peekiriBot <br>
        Github Repo at <a href='https://github.com/sandy85625/peekiri'>https://github.com/sandy85625/peekiri</a>
    </div>
    </div>
</body>
</html>